{
  "env": {
    "node": true
  },
  "rules": {
    "quotes": [1, "single"],
    "brace-style": [2, "1tbs"],
    "no-spaced-func": [2, true],
    "valid-jsdoc": [2, {
      "requireReturn": false,
      "prefer": {
        "return": "returns"
      }
    }],
    "camelcase": [2, true],
    "space-in-brackets": [2, "never"],
    "space-infix-ops": [2, true],
    "space-after-keywords": [2, "always"]
  }
}
